<p>
	Sme, na prekvapenie väčšiny pýtajúcich sa, bratislavská kapela – ľudovka. Hráme slovenský folklór odjakživa - konkrétne od roku 1990, kedy z recesie nacvičených niekoľko piesní – svadobný dar pre ženiaceho sa kamaráta, viedla nečakane ku vzniku ĽH Muzička. Od toho času cvičíme a počúvame staré, často zvukovo nekvalitné nahrávky starých, často už zosnulých vidieckych muzikantských majstrov. V skúšobni nám však strašne chýba potlesk. Preto hráme na najrôznejších akciách, akými sú svadby, oslavy, vystúpenia, zábavy a – načo to tajiť – aj koncerty. Najviac sa vytešujeme ak nastane všeobecná veselosť sprevádzaná nečakanými výkonmi muzikantov (my), spevákov (hlavne my) a tanečníkov (nikdy nie my).
	<a href="/o-nas">Prečítajte si viac o našich začiatkoch a zložení.</a>
</p>

<p>
	Chcete dostávať e-mailom nové nahrávky Muzičky, informácie o koncertoch, tanečných domoch a zábavách kde Muzička hrá? Napíšte nám Vašu e-mailovú adresu!<br /><em class="font-size-small">(Podľa našich štatistík informácie, ktoré Vám zdieľame cez Facebook sa dostanú v najlepšom prípade k polovici naších priateľov!)</em>:
</p>