<p class="perex">
Nové CD [Muzička]<sub>2</sub> vychádza vo vydavateľstve Pavian Records<br>

Krst CD [Muzička]<sub>2</sub> 12. decembra o 19:00 <br>
Cena: <strong>250 Sk</strong><br>
Objednávajte na adrese <a href="mailto:muzicka@muzicka.sk">muzicka@muzicka.sk</a>
</p>
<p>
	<img width="400" height="399" src="/assets/content/Booklet_predna_mala.jpg" style="WIDTH: 400px; HEIGHT: 399px" id="img_0">
</p>
<p>
<img width="519" height="399" src="/assets/content/Bottomcard_zadna_mala.jpg" style="WIDTH: 519px; HEIGHT: 399px" id="img_1">
</p>

<table cellspacing="0" cellpadding="0" border="0"  >
<tbody>
<tr >
<td width="350" colspan="2" >
<strong>1.&nbsp;&nbsp;Lapaľi Jaňička</strong> Terchová&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td width="48" >
4:25</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>2.&nbsp;&nbsp;Čo som ti urobila </strong>Rejdová &ndash; úprava &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td width="48" >
3:14</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>3. &ndash; 7. muzika zo Zamutova </strong>Zamutov </td>
<td width="48" >
9:54</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
3. Verbunk</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
4. Na dobré ráno</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
5. Fogaš</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
6.&nbsp;&nbsp;Hej, paropčeňe</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
7. Čardáše</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>8.&nbsp;&nbsp;Orie Jano, orie </strong>Šumiac </td>
<td width="48" >
2:54</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>9. &ndash; 12. piesne a muzika z Rejdovej </strong>Rejdová </td>
<td width="48" >
8:28</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
9. Kolo našej zahradočki teče potôček</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
10. Či to zvoni zvoňa</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
11.&nbsp;&nbsp;Siadla muška</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
12. V tej Rejdovskej kerčme</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>13. Dve piesne </strong>Rejdová &ndash; úprava </td>
<td width="48" >
3:37</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>14. &ndash; 26. Goralské piesne a muzika </strong>Suchá Hora, Hladovka </td>
<td width="48" >
13:16</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
14. Zabjyli Jaňicka</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
15. Guraľska džifcyna</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
16. Ej, ňehodž hlopce</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
17. Ňe jedna, ňe jedna</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
18. Drogova</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
19. Idže voda, idže</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
20. Javoře, javoře</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
21. A ja vidžal na ogrodže</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
22. Ja jes hlopak</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
23. Ja se ide tancyč</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
24.&nbsp;&nbsp;Ja za vodom</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
25. Viecna</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="64" >
&nbsp;</td>
<td width="243" >
26. Podžmes hlopcy</td>
<td width="48" >
&nbsp;</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>27.&nbsp;&nbsp;Ej, braňat mi zabraňajut </strong>Jarabina </td>
<td width="48" >
1:47</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>28. Pomali ovečki </strong>Revúca </td>
<td width="48" >
5:06</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>29. A v ňeďeľu rusadeľnu </strong>Kojšov </td>
<td width="48" >
2:04</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>30. čardáše z Kostelca </strong>Kostelec </td>
<td width="48" >
3:23</td></tr>
<tr >
<td width="350" colspan="2" >
<strong>31.&nbsp;&nbsp;Usňi že mi, usňi </strong>Liptovské Sliače &ndash; úprava &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
<td width="48" >
1:27</td></tr></tbody></table>


<br>
<h4>Muzička
</h4>
<table>
	<tr>
		<td width="350"><b>tomáš brunovský</b>  (bratislava)</td>
		<td width="100">husle, spev</td>
	</tr>
	<tr>
		<td><b>ivan hanula</b>  (liptovské sliače)</td>
		<td>husle, spev</td>
	</tr>
	<tr>
		<td><b>laco fekete</b>  (mierovo)</td>
		<td>husle, spev</td>
	</tr>
	<tr>
		<td><b>michal brdársky</b>  (rejdová)</td>
		<td>kontra, spev</td>
	</tr>
	<tr>
		<td><b>martin brunovský</b>  (bratislava)</td>
		<td>kontra, spev</td>
	</tr>
	<tr>
		<td><b>ľudo kováčik</b>  (čierny balog)</td>
		<td>basa, basička, spev</td>
	</tr>
</table>
<br>
<br>
<h4>Ženská spevácka skupina:
</h4>
<table>
	<tr>
		<td width="350"><b>eva brunovská</b>  (bratislava)</td>
		<td width="100"></td>
	</tr>
	<tr>
		<td><b>zuzana cimrová</b>  (bratislava)</td>
		<td></td>
	</tr>
	<tr>
		<td><b>martina večerná</b>  (bratislava)</td>
		<td></td>
	</tr>
	<tr>
		<td><b>zoja feketeová</b>  (dolný kubín)</td>
		<td></td>
	</tr>
	<tr>
		<td><b>mária brdárska</b>  (rejdová)</td>
		<td>ako hosť</td>
	</tr>
</table>