<% content_for :body do %>
<% if @page.respond_to?('images') && @page.images.any? %>
  <div id="page-image">
    <% @page.images.each do |image| %>
        <%= image_tag image.thumbnail("710x200#c").url %>
   <% end %>
  </div>
<% end %>

  <%= raw @page.content_for(:body) %>
<% end %>
<%= render '/refinery/content_page' %>