<div class="clearfix">
  <a href="#body" id="skip-to-content">K Obsahu</a>
<%= render(:partial => "/refinery/lang_menu", :locals => {
             :dom_id => 'lang_menu',
             :css => 'lang_menu'
           }) %>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
