/*MENU*/
#menu {
  float: left;
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#menu li, #lang_menu a {
  float: left;
}

#menu a {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  border-bottom: solid 3px #eee;
}

#menu ul li.selected a,
#menu ul li a:hover {
  background: #fff;
  color: #000;
}

#menu ul li.selected a {
  border-bottom-color: #A6AE8D;
}

#lang_menu {
  float: right;
}

#lang_menu a {
  display: inline-block;
  padding: 15px 20px;
  padding-left: 0px;
  text-decoration: none;
}

#submenu {
    background: none repeat scroll 0 0 #eee;
    border-radius: 0.4em;
    height: 500px;
    left: -200px;
    opacity: 0.9;
    position: absolute;
    top: 0;
    padding: 25px 0px;
    width: 180px;
}

#submenu ul,
#submenu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#submenu a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: solid 3px #eee;
}

#submenu .selected a,
#submenu a:hover {
    background: #fff;
}

#submenu .selected a {
  border-bottom-color: #A6AE8D;
  color: #000;
}