/*MENU*/

#header a {
  color: #876632;
  height: 50px;
  line-height: 50px;
  background: #eee;
  text-decoration: none;
  display: inline-block;
  /* font-size: 1.235em; */
  font-size: 14px;
  opacity: 0.9;
  padding: 0px 16px;
  text-transform: uppercase;
  font-family: Oldenburg, cursive, sans-serif;
}

#menu {
  float: left;
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#menu li {
  position: relative;
}

#menu ul ul {
  background: #eee;
  overflow: hidden;
}

#menu li, #lang_menu a {
  float: left;
}

#menu .selected > a {
  background: #fff;
  color: #000;
  font-weight: bold;
}

#menu a:hover {
  background: #fff;
}

#menu a:active {
  position: relative;
  top: 1px;
}

#menu li {
  margin: 0px;
  padding: 0px;
}

#menu ul ul a {
  opacity: 1;
  width: 360px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow:ellipsis;
}

#lang_menu {
  float: right;
  margin-right: 10px;
}

#lang_menu a {
  padding: 0px;
  padding-right: 10px;
}
