
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('CinzelDecorative-Regular'), url(https://themes.googleusercontent.com/static/fonts/cinzeldecorative/v1/fmgK7oaJJIXAkhd9798yQt0Zu-Kfjb9GTaHd117aS3o.woff) format('woff');
}

@font-face {
  font-family: 'Oldenburg';
  font-style: normal;
  font-weight: 400;
  src: local('Oldenburg'), local('Oldenburg-Regular'), url(http://themes.googleusercontent.com/static/fonts/oldenburg/v1/OmRJVzACJxBuDlb8Qnj0sD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 170%;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #876632;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}

a:active {
  text-decoration: none;
  color: red;
}

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 35px;
}

ul {
    list-style: square;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Indicate that 'label' will shift focus to the associated form element
 */

label {
    cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 95%;
    height: 8.25em;
    padding: 5px;
    font-size: 16px;
    background: #fafafa;
    border: solid 5px #ddd;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

.form-note {
    font-size: 12px;
    color: #900;
}

input.text,
input[type=text],
input[type=email],
input[type=password] {
    background: #fff;
    height: 24px;
    padding: 4px 5px;
    max-width: 300px;
    font-size: 16px;
    border: solid 5px #ddd;
    margin-right: 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


input.text:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    background: #ffb;
    outline:none;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
}

input[required=required], textarea[required=required] {
    /* border-bottom-color: #cc0000;*/
    background: #fff url(/assets/design/red_star.png) no-repeat 98% 7%;
}

input.submit, input[type=submit] {
    padding: 10px 16px;
    width: 300px;
    font-size: 17px;
}

form .field {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.field label {
    display: block;
    padding-bottom: 5px;
}

.no-placeholder .placeholder-fallback,  .no-placeholder .field .placeholder-fallback {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
}

.placeholder-fallback, .field .placeholder-fallback {
    display: none;
}

/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* =============================================================================
   Author
   ========================================================================== */

body {
  background: #A6AE8D;
  font-family: Verdana, 'Geneva CE', lucida, sans-serif;
  font-size: 13px;
  line-height: 154%;
  text-align:center;
}


h1, h2, h3, h4 {
  font-family: Oldenburg, cursive, sans-serif;
  margin-bottom: 1em;
  line-height: 1.5em;
  margin-top: 0px;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  background: url(/assets/design/muzicka_pasik2.png) repeat-x right top;
  background-size: 20%;
  background-origin: padding-box;
  padding-top: 30px;
  margin: 0px;
}

#body, #page-body, #page-image {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#header {
  background: #eee;
  border-radius: 5px;
  margin-bottom: 8px;
}

#menu ul ul .first a {
  border-radius: 0px;
}

#menu .first a {
  border-radius: 5px 0px 0px 5px;
}

#menu ul ul {
  display: none;
  position: absolute;
  z-index: 10;
  top: 49px;
  left: 0px;
}

#menu ul ul a {
  height: 40px;
  line-height: 40px;
  font-size: 93%;
}

#menu li:hover ul {
  display: block;
}

#page_container {
  _width: 750px;
  max-width: 750px;
  margin: 10px auto;
  text-align: left;
  position: relative;
  padding: 0px 10px;
}

#page {
  position: relative;
  background: #fff;
  color: #333;
  border-radius: .4em;
  padding: 20px 0px;
}

#body_content, #side_body_content {
  padding: 0px 20px;
}

#footer {
  font-size: 90%;
}

#page nav,
#rss_feed_subscribe {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#body .inner:before, #body .inner:after { content: "\0020"; display: block; height: 0; visibility: hidden;   }
#body .inner:after { clear: both; }
#body .inner { zoom: 1; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;   }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

h1, h2, h3 {
  margin-bottom: 20px;
}

#header #skip-to-content {
  display: none;
}

#contact-block {
  width: 35%;
  float: left;
}

div.inquiries {
  width: 60%;
  float: right;
}

.perex {
  font-size: 130%;
  line-height: 160%;
}

#mailinglist-subscription {
  margin-bottom: 20px;
}

#mailinglist-subscription input.text, input[type="text"], input[type="email"] {
  max-width: 60%;
}

.blog-post, #blog_post, .blog_post {
  clear: both;
  margin-bottom: 15px;
}

header .details .blog_author {
  display: none;
}

#next_prev_article {
  clear: both;
}

#page li {
  margin-bottom: 10px;
}

#page ul {
  margin-bottom: 20px;
}

.flash {
  padding: 10px;
  background: #A3A6CF;
  margin-bottom: 10px;
}

.flash.success {
  background: #C6EB7B;
}

@media (max-width: 640px) {

#header #skip-to-content {
  display: inline-block;
  border-radius: 5px 0px 0px 0px;
}

#menu {
  width: 100%;
  overflow: hidden;
}

#menu li{
  float: none;
  width: 100%;
}

#menu li a {
  width: 100%;
}

#menu ul ul {
  display: block;
  position: relative !important;
  top: 0px;
  overflow: hidden;
}

#menu ul ul a {
  padding-left: 40px;
  width: 600px;
}

}
